trainer/__pycache__/
output/
DATA/
data/
dataset/__pycache__/
model_cache/
1.md
.vscode/launch.json
__pycache__/utils.cpython-312.pyc
dataset/__pycache__/__init__.cpython-312.pyc
dataset/__pycache__/RSVQA_LR_Dataset.cpython-312.pyc
logs/app.log
model/__pycache__/LlavaNext.cpython-312.pyc
tmpdm0r5zo6/_remote_module_non_scriptable.py
tmpdm0r5zo6/__pycache__/_remote_module_non_scriptable.cpython-312.pyc
tmpesid48v0/_remote_module_non_scriptable.py
tmpesid48v0/__pycache__/_remote_module_non_scriptable.cpython-312.pyc
__pycache__/config.cpython-312.pyc
dataset/__pycache__/utils.cpython-312.pyc
model/__pycache__/llava_next_tune.cpython-312.pyc
trainer/__pycache__/llava_next.cpython-312.pyc
__pycache__/config.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/config.cpython-310.pyc
.history/